{% extends 'inc/base.html' %}

{% load static %}
{% load bootstrap5 %}
{% bootstrap_messages %}

{% block content %}

    <div class="header">
        <h1>Log in</h1>
    </div>

    <form action="{% url 'login' %}?continue={{ request.GET.continue }}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Log in!</button>
            <a type="button" href="{% url 'register' %}" style="color: #0d6efdd9"
               class="mx-2 px-3 btn btn-outline-light">Create new account</a>
        {% endbuttons %}
    </form>

    {#    <div class="row">#}
    {##}
    {#        <div class="row me-1 my-3">#}
    {#            <div class="col-2">#}
    {#            </div>#}
    {#            <div class="col-10">#}
    {#                <button onclick="window.location.href = '{% url 'index' %}';" type="button"#}
    {#                        class="btn btn-outline-primary">LOG IN#}
    {#                </button>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

{% endblock %}