{% extends 'inc/base.html' %}

{% load static %}

{% block content %}

        <div class="my-4">
            <div class="row">
                <div class="col-2">
                    <div class="avatar">
                        <img src="../static/img/avatar-1.jpg" alt="" />
                    </div>
                </div>
                <div class="col-10">
                    <h2 class="question-title">Question</h2>
                    <div class="question-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                    </div>
                </div>
            </div>
            <div>
                 <div class="row mt-1">
                     <div class="col-2">
                        <img src="../static/img/caret-up-fill.svg" alt="" />
                        <img src="../static/img/caret-down-fill.svg" alt="" />
                        5
                     </div>
                     <div class="col-5">
                        Tag:
                        <a href="index.html">tag 1</a>
                        <a href="index.html">tag 2</a>
                     </div>
                 </div>
            </div>
        </div>

        <hr>

        <div class="question">
            <div class="row">
                <div class="col-2">
                    <div class="avatar">
                        <img src="../static/img/avatar-4.jpeg" alt="" />
                    </div>
                </div>
                <div class="col-10">
                    <div class="question-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                    </div>
                </div>
            </div>
            <div>
                 <div class="row mt-1">
                     <div class="col-2">
                        <img src="../static/img/caret-up-fill.svg" alt="" />
                        <img src="../static/img/caret-down-fill.svg" alt="" />
                        5
                     </div>
                     <div class="form-check col-4">
                         <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                         <label class="form-check-label" for="flexCheckDefault">
                             correct
                         </label>
                     </div>
                     <div class="col-5">
                        Tag:
                        <a href="index.html">tag 1</a>
                        <a href="index.html">tag 2</a>
                     </div>
                 </div>
            </div>
        </div>

        <div class="question">
            <div class="row">
                <div class="col-2">
                    <div class="avatar">
                        <img src="../static/img/avatar-5.jpeg" alt="" />
                    </div>
                </div>
                <div class="col-10">
                    <div class="question-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                    </div>
                </div>
            </div>
            <div>
                 <div class="row mt-1">
                     <div class="col-2">
                        <img src="../static/img/caret-up-fill.svg" alt="" />
                        <img src="../static/img/caret-down-fill.svg" alt="" />
                        5
                     </div>
                     <div class="form-check col-4">
                         <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                         <label class="form-check-label" for="flexCheckDefault1">
                             correct
                         </label>
                     </div>
                     <div class="col-5">
                        Tag:
                        <a href="index.html">tag 1</a>
                        <a href="index.html">tag 2</a>
                     </div>
                 </div>
            </div>
        </div>
        <hr>
        <div>
            <textarea class="col-11 form-control-horizontal" id="TextareaText" rows="3" placeholder="enter your answer here..." style="height: 100px"></textarea>
        </div>
        <div class=" me-1 my-3">
            <button type="button" class="btn btn-outline-primary"><a style="all:unset" href={% url 'index' %}>ANSWER</a></button>
        </div>

{% endblock %}
