{% extends 'inc/base.html' %}

{% load static %}

{% block content %}

        <div class="mt-2 mb-4">
            <div class="row">
                <div class="col-2">
                    <div class="avatar">
                        <img src='{{ question.0.profile.avatar.url }}' alt="" />
                    </div>
                </div>
                <div class="col-10">
                    <h2 class="question-title">
                        {{ question.0.title }}
                    </h2>
                    <div class="question-text">
                        {{ question.0.text }}
                    </div>
                </div>
            </div>
            <div>
                 <div class="row mt-1">
                     <div class="col-2">
                        <img src={% static 'img/caret-up-fill.svg' %} alt="" />
                        <img src={% static 'img/caret-down-fill.svg' %} alt="" />
                        {{ question.1 }}
                     </div>
                     <div class="col-5">
                        Tag:
                         {% for tag in question.2 %}
                             <a href={% url 'tag' tag_id=tag.id %}> {{ tag.name }}</a>
                         {% endfor %}
                     </div>
                 </div>
            </div>
        </div>

        <hr>

        {% for answer in answers %}
            {% include "inc/answer_item.html" %}
        {% endfor %}

        <hr>

        <div>
            <textarea class="col-11 form-control-horizontal" id="TextareaText" rows="3" placeholder="enter your answer here..." style="height: 100px"></textarea>
        </div>
        <div class=" me-1 my-3">
            <button type="button" class="btn btn-outline-primary">ANSWER</button>
        </div>

{% endblock %}
