{% load static %}

<div class="question">
        <div class="row">
            <div class="col-2">
                <div class="avatar">
                    <img src={% static 'img/avatar-1.jpg' %} alt="" />
                </div>
            </div>
            <div class="col-10">
                <h2>
                    <a href={% url 'question' question_id=question.0.id %}> {{ question.0.title }} </a>
                </h2>
                <div>
                    {{ question.0.text }}
                </div>
            </div>
        </div>
        <div>
             <div class="row mt-1">
                 <div class="col-2">
                    <img src={% static 'img/caret-up-fill.svg' %} alt="" />
                    <img src={% static 'img/caret-down-fill.svg' %} alt="" />
                    {{ question.1 }}
                 </div>
                 <div class="col-4">
                    <a href={% url 'question' question_id=question.0.id %}>answers ({{ question.2 }})</a>
                 </div>
                 <div class="col-5">
                    Tag:
                     {% for tag in question.3 %}
                         <a href={% url 'tag' tag_id=tag.id %}> {{ tag.name }}</a>
                     {% endfor %}
                 </div>
             </div>
        </div>
    </div>